<div class="main">
    <h1>{{isEditMode ? "Edit Note " : "Add new note"}}</h1>
    <form  [formGroup]="noteForm" (ngSubmit)="createNewNote()">
        <div class="input-box">
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title" placeholder="title">
        </div>
        <div class="input-box">
            <label for="content">Content:</label>
            <input type="text" id="content" formControlName="content" placeholder="Content">
        </div>
        <button type="submit">{{isEditMode ? "Edit Note" : "Add new note"}}</button>
    </form>
</div>