.main{
    width: 100%;
    margin: 0 auto;

}
.main h1{
    margin-left: 40%;
    
}
.main form{
    width: 50%;
    margin-left: 25%;
    
}
.input-box{
    width: 70%;
    height: 50px;
    margin-left: 15%;
    margin-bottom: 1%;
}
.input-box label{
    position: relative;
    margin: 1%;
}
.input-box input[type=text]{
    position: relative;
    width: 95%;
    height: 60%;
    margin-left: 1.5%;
}

.main form button{
    margin-top: 2%;
    margin-left: 40%;
    width: 20%;

}
